<!DOCTYPE html>
{% load static %}
<html>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static "fm/index_master.css" %}">
        <body>
    <table>
    
        
    <div class="container">
            <div class="row">
                    {%for i in foldersfiles %}
              <div class="col-sm">
                        {% if i.is_file %}
                        <a href="download?search={{i.path}}" onclick="" id="" data-value="">    
                                <figure class="figureclass" >
                                <img src="{% static "fm/file.png" %}" alt="Folder" onclick="clickAnchor("{{i.path}}")">
                           
                            
                            {% else %}
                            <a href="view?search={{i.path}}" onclick="" id="" data-value="">    
                                <figure class="figureclass" >
                            <img src="{% static "fm/folder.png" %}" alt="Folder" >
                            
                           {%endif%}
                            
                            <figcaption class="figcap">   <p>{{i.name}}<p></figcaption>
                    </figure>
                </a>
              </div>
                           
            {% endfor %}
            </div>
            
            <div>
                        <input id="search" name="search" type="text" class="query-search" placeholder="Enter Direct Path..">
                        <input onclick="setGetParameter()" type="button" class="btn btn-primary" value = "View Details"/>
                    </div>
                    
                    
                    <script>
                    
                    function setGetParameter(){
                        searchWord = document.getElementById('search').value;
                        window.location.href = "{% url 'view_detail' %}" + "?search="+searchWord;
                    }
                    function setGetParameterB(){
                        searchWord = document.getElementById('search').value;
                        window.location.href = "{% url 'download' %}" + "?search="+searchWord;
                    }
                    
                    </script>
                    <script>
                    function clickAnchor(id){
                        searchWord = document.getElementById(id).href;
                        window.location.href = "{% url 'view_detail' %}" + "?search="+searchWord;
                    }
                    
                    </script>
                    





                    

  

</table>
</body>
</html> 